 /* Large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {}

 /* Medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {}

 /* Small devices  */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* HEADER PART START */
    #header {
        padding: 51px 0px 53px;
    }
    .navbar-nav {
        background: #f38181;
    }
    .navbar-light .navbar-toggler i {
        color: #fff;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        outline: 0;
        border-color: transparent;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 10px;
        padding: 12px 22px;
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link::after {
        top: 33px;
        height: 2px;
    }
    .navbar-light .navbar-nav .nav-link:hover::after {
        width: 50px;
    }
    #carouselExampleIndicators {
        padding: 17px 0px;
    }
    .carousel-indicators {
        margin-bottom: -3rem;
    }
    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
    }
    .banner_text h3 {
        font-size: 31px;
        padding-bottom: 20px;
    }
    .banner_text h1 {
        font-size: 44px;
        line-height: 42px;
        padding-bottom: 100px;
    }
    .banner-btn {
        margin-top: 1px;
    }
    .banner-btn a {
        padding: 7px 16px;
        border: 3px solid #ffffff;
        font-size: 9px;
    }
    /* HEADER PART END */
}

 /* Extra small  */
@media (max-width: 575.98px) {
    /* HEADER PART START */
    #header {
        padding: 51px 0px 53px;
    }
    .navbar-nav {
        background: #f38181;
    }
    .navbar-light .navbar-toggler i {
        color: #fff;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        outline: 0;
        border-color: transparent;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 10px;
        padding: 12px 22px;
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link::after {
        top: 33px;
        height: 2px;
    }
    .navbar-light .navbar-nav .nav-link:hover::after {
        width: 50px;
    }
    #carouselExampleIndicators {
        padding: 17px 0px;
    }
    .carousel-indicators {
        margin-bottom: -3rem;
    }
    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
    }
    .banner_text h3 {
        font-size: 31px;
        padding-bottom: 20px;
    }
    .banner_text h1 {
        font-size: 44px;
        line-height: 42px;
        padding-bottom: 100px;
    }
    .banner-btn {
        margin-top: 1px;
    }
    .banner-btn a {
        padding: 7px 16px;
        border: 3px solid #ffffff;
        font-size: 9px;
    }
    /* HEADER PART END */

    /* STORY PART START */
    #story {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .story_text h3 {
        font-size: 14px;
    }
    .story_text h2 {
        font-size: 16px;
        padding-top: 11px;
        padding-bottom: 39px;
    }
    .story_text h2::after {
        bottom: 20px;
    }
    .story_text p {
        font-size: 11px;
        line-height: 20px;
        padding-bottom: 28px;
        text-align: center;
    }
    .story_overly a {
        font-size: 14px;
    }
    .story_overly h3 {
        bottom: 74px;
        left: 105px;
        font-size: 13px;
    }
    .story_item {
        margin-bottom: 10px;
    }
    /* STORY PART END */

    /* COUNTER PART START */
    .counter_text {
        border-left: 0 !important;
        border-bottom: 1px solid #b5eae0;
        padding-right: 30px;
    }
    .last_counter{
        border-right: 0 !important;
        border-bottom: 0 !important;
    }
    .counter_text h2 {
        font-size: 41px;
        padding-top: 68px;
        padding-bottom: 10px;
    }
    /* COUNTER PART END */

    /* WORK PART START */
    #work {
        padding-top: 39px;
        padding-bottom: 4px;
    }
    .work_text h3 {
        font-size: 14px;
    }
    .work_text h2 {
        font-size: 16px;
        padding-top: 13px;
        padding-bottom: 68px;
    }
    .work_text h2::after {
        bottom: 43px;
    }
    .work_content h3 {
        font-size: 14px;
        padding-bottom: 7px;
    }
    .work_content p {
        font-size: 10px;
        line-height: 14px;
        padding-bottom: 8px;
    }
    .work_item::after {
        width: 0px;
    }
    .work_item {
        padding-bottom: 21px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 24px;
    }
    .last_work{
        border-bottom: 0px;
    }
    /* WORK PART END */

    /* DESIGN PART START */
    .design_overly {
        padding-top: 32px;
    }
    .design_image img{
        width: 100%;
    }
    .design_image::after {
        top: 92px;
        right: -71px;
        height: 100%;
        width: 100%;
    }
    .design_text h3 {
        font-size: 14px;
    }
    .design_text h2 {
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 54px;
    }
    .design_text h2::after {
        bottom: 35px;
    }
    /* DESIGN PART END */

    /* SERVICE PART START */
    #service {
        padding-top: 117px;
        padding-bottom: 58px;
    }
    .service_text h3 {
        font-size: 14px;
    }
    .service_text h2 {
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 41px;
    }
    .service_text h2::after {
        bottom: 23px;
    }
    .service_text p {
        font-size: 10px;
        line-height: 14px;
        padding-bottom: 35px;
    }
    .service_content_img {
        margin-bottom: 20px;
    }
    .accor_img h5 {
        font-size: 16px;
    }
    .accor_img p {
        font-size: 10px;
    }
    /* SERVICE PART END */

    /* MESSAGE PART START */
    #message {
        padding-top: 35px;
        padding-bottom: 41px;
    }
    .msg_image {
        text-align: center;
    }
    .msg_text {
        text-align: center;
    }
    .msg_text p {
        font-size: 17px;
        line-height: 20px;
        padding-bottom: 9px;
    }
    .msg_text h3 {
        font-size: 23px;
        padding-left: 0px;
    }
    .msg_text h3::before {
        left: 45px;
    }
    /* MESSAGE PART END */

    /* TEAM PART START */
    #team {
        padding-top: 35px;
        padding-bottom: 32px;
    }
    .team_text h3 {
        font-size: 14px;
    }
    .team_text h2 {
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 41px;
    }
    .team_text h2::after {
        bottom: 22px;
    }
    .team_text p {
        font-size: 10px;
        line-height: 14px;
        padding-bottom: 40px;
    }
    .team_item {
        margin-bottom: 22px;
    }
    .team_overly ul {
        padding-left: 6px;
    }
    .team_content h4 {
        font-size: 12px;
        padding-top: 17px;
        padding-bottom: 8px;
    }
    .team_content p {
        font-size: 11px;
    }
    /* TEAM PART END */

    /* CLIENT PART START */
    #client {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    /* CLIENT PART END */

    /* GALLERY PART START */
    #gallery {
        padding-top: 36px;
        padding-bottom: 43px;
    }
    .gallery_text h3 {
        font-size: 14px;
    }
    .gallery_text h2 {
        font-size: 16px;
        padding-top: 14px;
        padding-bottom: 36px;
    }
    .gallery_text h2::after {
        bottom: 19px;
    }
    .gallery_text p {
        font-size: 10px;
        line-height: 14px;
        padding-bottom: 34px;
    }
    .gallery_overly_text h3 {
        font-size: 13px;
        padding-top: 3px;
        padding-bottom: 9px;
    }
    .gallery_overly_text p {
        font-size: 11px;
    }
    #gallery_msg {
        padding-bottom: 53px;
    }
    .gallery_msg_item {
        display: block;
    }
    .gallery_msg_img {
        text-align: center;
    }
    .gallery_msg_text {
        text-align: center;
    }
    .gallery_msg_text p {
        font-size: 17px;
        line-height: 20px;
        padding-bottom: 9px;
        padding-top: 0px;
        margin-right: 29px;
    }
    .gallery_msg_text h4 {
        font-size: 23px;
        padding-left: 0px;
    }
    .gallery_msg_text h4::before {
        left: 7px;
    }
    .carousel-control-prev {
        left: -13px;
    }
    .carousel-control-next {
        right: -13px;
    }
    /* GALLERY PART END */

    /* PEOPLE PART START */
    .people_overly {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .people_text h3 {
        font-size: 14px;
    }
    .people_text h2 {
        font-size: 16px;
        padding-top: 13px;
        padding-bottom: 36px;
    }
    .people_text h2::after {
        bottom: 16px;
    }
    .people_item {
        padding-top: 25px;
        padding-bottom: 8px;
        padding-left: 0px;
        display: block;
        text-align: center;
    }
    .people_img_txt {
        margin-left: 0px;
    }
    .people_img_txt h4 {
        font-size: 12px;
        padding-top: 10px;
    }
    .people_img_txt h5 {
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 35px;
    }
    .people_img_txt h5::after {
        bottom: 19px;
        left: 118px;
    }
    .people_img_txt p {
        line-height: 17px;
        font-size: 12px;
    }
    /* PEOPLE PART END */

    /* BLOG PART START */
    #blog {
        padding-top: 34px;
        padding-bottom: 34px;
    }
    .blog_item {
        margin-bottom: 8px;
    }
    .blog_text h3 {
        font-size: 14px;
    }
    .blog_text h2 {
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 51px;
    }
    .blog_text h2::after {
        bottom: 33px;
    }
    .blog_img {
        padding-top: 10px;
    }
    .blog_img_text {
        text-align: center;
    }
    .blog_img_text h3 {
        font-size: 12px;
        padding-top: 13px;
        padding-bottom: 11px;
    }
    .blog_img_text p {
        line-height: 17px;
        font-size: 11px;
    }
    .blog_views ul li {
        font-size: 10px;
    }
    /* BLOG PART END */

    /* MAP PART START */
    .map_overly {
        padding-top: 23px;
        padding-bottom: 51px;
    }
    .map_text a {
        font-size: 20px;
    }
    .map_text h3 {
        font-size: 14px;
        padding-top: 11px;
        padding-bottom: 6px;
    }
    .map_text h3::after {
        top: 38px;
    }
    /* MAP PART END */

    /* INFO PART START */
    #info {
        padding-top: 34px;
        padding-bottom: 13px;
    }
    .info_border {
        margin-bottom: 14px;
        padding-bottom: 18px;
    }
    .info_logo h2 {
        padding-bottom: 21px;
    }
    .info_logo p {
        line-height: 20px;
        font-size: 12px;
        padding-bottom: 17px;
    }
    .info_logo h5 {
        font-size: 11px;
        padding-bottom: 11px;
    }
    .info_logo h5 span {
        font-size: 14px;
    }
    .follow_us ul {
        padding-bottom: 0px;
    }
    .follow_us ul li {
        font-size: 10px;
        margin-right: 10px;
    }
    .follow_us ul li a i {
        font-size: 10px;
    }
    .follow_us_btn {
        margin-left: 15px;
    }
    .follow_us_btn form input {
        padding: 7px 15px 7px 12px;
        font-size: 10px;
    }
    .follow_us_btn a {
        padding: 7px 31px;
        font-size: 10px;
    }
    .info_item {
        padding-bottom: 20px;
    }
    .info_heading h3 {
        padding-bottom: 14px;
        padding-top: 32px;
    }
    .info_content p {
        line-height: 13px;
        font-size: 10px;
        padding-top: 19px;
        padding-bottom: 3px;
    }
    .info_content h6 {
        font-size: 10px;
    }
    .insta_text {
        text-align: center;
    }
    .insta_text a {
        font-size: 11px;
        padding-top: 0px;
    }
    .footer_text p {
        font-size: 9px;
        padding-bottom: 0px;
    }
    /* INFO PART END */
    
}





